.card-wrapper {
  padding: 0.5rem;
  background-color: #161d22;
  border-color: #d3d1cb;
  border-style: groove;
  margin: 1rem;
  justify-content: center;
}

.catalog-container {
  background-image: url('https://www.ggrecon.com/media/tl1nixi0/valorant-banner-art-cropped.jpg');
  padding-left: 4rem;
  padding-right: 4rem;
  min-height: 150vh;
  min-width: 100vw;
  max-height: fit-content;
  max-width: fit-content;
}

img.img-thumbnail:hover {
  cursor: pointer;
}

.catalog-header {
  font-family: VALORANT, sans-serif;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  color: white;
  text-align: center;
  margin-top: 2rem;
  font-size: 3rem;
}

.img-banner {
  height: 25rem;
  width: 50rem;
}

.banner-container {
  display: flex;
  justify-content: space-around;
  padding-top: 2rem;
}

.mb-3 {
  width: 10rem;
  height: 2rem;
  background-color: #212529;
  color: white;
  border-radius: 0.2rem;
}

.row {
  display: flex;
  justify-content: center;
}

select {
  margin-top: 3rem;
  font-family: VALORANT, sans-serif;
  width: 40%;
}

.search-filter {
  margin-top: 2.8rem;
  margin-left: 3rem;
  width: 60%;
  font-family: VALORANT, sans-serif;
  border-radius: 0.4rem;
}

.thumbnail-text {
  color: white;
  text-align: center;
  text-decoration: none;
}

a {
  text-decoration: none;
}
