.details-container {
  background-image: url('https://www.ggrecon.com/media/tl1nixi0/valorant-banner-art-cropped.jpg');
  display: flex;
  width: 100vw;
  justify-content: space-around;
  height: 100vh;
  margin: auto;
}

.details-card-wrapper {
  background-color: #0b1219ad;
  border-radius: 1.5rem;
  margin-top: 3rem;
  width: 45vw;
  height: fit-content;
  justify-content: center;
}

.details-img {
  background-color: transparent;
  width: 70%;
  height: 70%;
  margin-top: 5rem;
  margin-left: 5rem;
}

.details-text {
  color: white;
  font-size: 2rem;
  margin-top: 2rem;
}

.row {
  display: flex;
}

.column-half {
  flex-basis: 50%;
  justify-content: space-between;
}

.description-text {
  color: white;
  font-size: 1.5rem;
}

.align-right {
  text-align: end;
  padding-right: 2rem;
}

.card-footer {
  padding-top: 2rem;
  justify-content: space-between;
}

.btn {
  width: 7rem;
  margin-right: 1.8rem;
  margin-bottom: 0.5rem;
}

.left {
  padding-left: 2rem;
}

.back-to-catalog-btn {
  margin: 1rem;
  width: 10rem;
  height: 3rem;
}

.qty-limit-txt {
  color: red;
}

.count {
  color: white;
}

.justify-end {
  display: flex;
  justify-content: flex-end;
}

.counter-btn {
  background-color: #0c6dfd;
  width: 1.5rem;
  height: 2rem;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  border-style: none;
}
