.splash-container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url('https://www.ggrecon.com/media/tl1nixi0/valorant-banner-art-cropped.jpg');
  width: 100vw;
  height: 100vh;
}

.row-splash {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  border-radius: 1rem;
}

h2 {
  text-align: center;
  font-size: 4rem;
}

.splash-header {
  padding-top: 1rem;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  color: #fe4654;
  text-align: center;
}

.shop-now-btn {
  margin-top: 1rem;
  width: 30rem;
  height: 6rem;
  border-radius: 6px;
  font-size: 3rem;
}

.splash-sub-header {
  text-align: center;
  color: white;
  font-size: 3rem;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.banner-container {
  padding: 0;
}
