.splash-container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url('https://www.ggrecon.com/media/tl1nixi0/valorant-banner-art-cropped.jpg');
}

.row-splash {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel {
  width: 65rem;
  height: 50rem;
}

img {
  border-radius: 1rem;
}

h2 {
  text-align: center;
}

.carousel-indicators {
  position: absolute;
  top: 22rem;
}
