 {
  box-sizing: border-box;
}

svg {
  color: rgb(234, 243, 247);
  font-size: 3rem;
}

.hidden {
  display: none;
}

.carousel-image {
  width: 50rem;
  height: -5rem;
  object-fit: contain;
  position: relative;
}
